<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523521803700-b3bcaeab0150?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>Rent any kind of outfit for your event!</h1>
  </div>
</div>



<div class="container py-5">
  <div class="cards">
    <% @outfits.each do |outfit| %>
      <%= link_to outfit_path(outfit), class:"text-decoration-none" do %>
      <div class="card">
        <% if outfit.photo.attached? %>
        <%= cl_image_tag outfit.photo.key, crop: :fill,  class:"cards-img"%>
        <div class="card-body">
          <h5 class="card-title"><%= outfit.title %></h5>

          <div class="card-center">
            <p class="card-text"><%= outfit.size %></p>
            <p class="card-text">Rs <%= outfit.price_per_day %>/day</p>
          </div>

        </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
