<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1530103862676-de8c9debad1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);">
  <div class="container">
    <h1>My outfits</h1>
  </div>
</div>

<div class="container py-5">
  <div class="cards">
    <% @outfits.each do |outfit| %>
      <%= link_to outfit_path(outfit), class:"text-decoration-none" do %>
      <div class="card">
        <% if @user.id == outfit.user_id %>
        <%= cl_image_tag outfit.photo.key, crop: :fill,  class:"cards-img"%>
        <div class="card-body">
          <h5 class="card-title"><%= outfit.title %></h5>
          <div class="card-center">
            <p class="card-text">
              <i class="fa-solid fa-ruler-vertical"></i>
              Size : <%= outfit.size %>
            </p>
            <p class="card-text">
              <i class="fa-solid fa-money-bill"></i>
              Rs <%= outfit.price_per_day %> /Day
            </p>
            <%= link_to "Remove Outfit", owner_outfits_path(@outfit), class: "btn btn-outline-danger", data: { turbo_method: :destroy, turbo_confirm: "Are you sure you want to delete this outfit?" } %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
